@function v($var) {
  @return var(--#{$var});
}
:root{
  --red: #ae2226;
  --hover: #804033;
  --black: #000;
  --tb: #cd9a81;
  font-size: 10px;
}

body {
  background: #141414;
  font-family: Tahoma, sans-serif;
  font-size: 10px;
  color: v(black);
}
.wrapper{width: 100%; overflow: hidden;}
canvas { width: 100%; height: 100% }











